
body{
    background: rgb(170,239,255);
    background: linear-gradient(198deg, rgba(170,239,255,1) 0%, rgba(247,152,152,1) 100%);
}

#sound{
    background-color: transparent;
    color: black;
    border: none;
}

h1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(131, 59, 179);
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;

}

button{
    background-color: rgb(52, 52, 141);
    color: white;
    border-radius: 10px;
    font-size: larger;
}

label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

input{
    width: 18%;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: rgb(29, 29, 126);
}

.cuadricula{
    width: 50%;
}

@media (max-width: 1024px ){
    input{
        width: 38%;
    }
    
}
